CONTACT_RECEIVER_EMAIL=
# envsitter:  e.g. jumalaw98.hashnode.dev
HASHNODE_PUBLICATION_HOST=
MONITOR_EMAIL_TO=your@email.com
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=      # if using Plausible
NEXT_PUBLIC_SITE_URL=
RESEND_API_KEY=                   # if using Resend for contact form
UPSTASH_REDIS_REST_TOKEN=your_token_here
UPSTASH_REDIS_REST_URL=https://your-db.upstash.io
