NEXT_PUBLIC_SITE_URL=
# envsitter:  e.g. jumalaw98.hashnode.dev
HASHNODE_PUBLICATION_HOST=
RESEND_API_KEY=                   # if using Resend for contact form
CONTACT_RECEIVER_EMAIL=
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=      # if using Plausible
